*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
.toppen{
    text-decoration: underline;
    color: #dfdfdf;
}


/* scrollbar */

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ff730015;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ff7300;
    border-radius: 15px;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ff730080;
  }
 
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(48, 47, 47, 0.466),rgba(43, 42, 42, 0.466)),url(img/2151073786.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

body{
    background-color: rgb(27, 17, 9);
}

.logo4{
    max-width: 75px;
    max-height: 75px;
    padding-left: 0px;
}
nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
}

nav img{
    width: 200px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #e8e8e8;
    text-decoration: none;
    font-size: 17px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ff7300;
    display: block;
    margin: auto;
    transition: .4s;    
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav .fa{
    display: none;
}



.text-box{
    width: 90%;
    color: #dfdfdf;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 70px;
    font-weight: 600;
}
.text-box p{
    margin: 20px 0 40px;
    font-size: 17px;
    color: #fff;
    font-weight: 400;
}
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid rgb(255, 115, 0);
    padding: 12px 34px;
    font-size: 16px;
    background: linear-gradient(rgba(188, 107, 37, 0.575),rgba(188, 128, 37, 0.557));
    position: relative;
    cursor: pointer;
    transition: 1s;
    border-radius: 25px;
}

.hero-btn:hover{
    border: 1px solid rgb(255, 115, 0);
    background: rgb(255, 115, 0);
    transition: 1s;
}


@media(max-width: 700px)
{
   .nav-links ul li
    {
        display: block;
    }
    .nav-links
    {
        position: fixed;
        background: rgb(255, 115, 0);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    .nav-links ul{
        padding: 30px;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 30px;
        cursor: pointer; 
    }
    .text-box h1{
        font-size: 50px;
    }
    .hero-btn{
        background-color: rgb(255, 115, 0);
    }
   

  
}

/*---------- Hvad kan vi tilbyde --------*/

.produkt{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 40px;
    font-weight: 600;
    color: #fff;

}
.tilbyd-p-overskrift{
    color: #fff;
}

.service-link{
    text-decoration: none;
}
p{
    color: #0e0e0e;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding-top: 40px;
    margin-bottom: auto;
    
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;  
    
}
  
.produkt-col{
    flex-basis: 31%;
    background: #ffe4cd;
    border-radius: 25px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
    border-style: solid;
    border-width: thick;
    border-color: #ff7300;
    
}

.om-os-p{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding-top: 40px;
    margin-bottom: auto;
    
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    font-size: 20px;
    color: black;
}
.produkt-col:hover{
    box-shadow: 0 0 30px 0px rgb(255, 115, 0);
}

@media (max-width:700px){
    .row{
        flex-direction: column;
        margin-top: 12%;
    }
    h1{
        font-size: 35px;
    }
   
} 

/*---------------- Om os forsiden ----------------*/

.om-os{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    
    
}
.om-os-col{
    flex-basis: 32%;
    border-radius: 25px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
  
}
.om-os-col img{
    width: 100%;
    
}


.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: .5s;
}
.layer:hover{
    background: rgba(255, 115, 0, 0.82);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    position:absolute;
    opacity: 1;
    transition: .5s;
    background:linear-gradient(rgba(255, 115, 0, 0.82), rgba(255, 115, 0, 0.82));
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
    background: rgba(255, 115, 0, 0.82);
}

/*-------------- Tidligere Projekter ----------------*/

.projekter{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}
.projekter p{
    color: #fff;
}
.projekter h3{
    color: #fff;
    
}
.projekter-col{
    flex-basis: 31%;
    border-radius: 15px;
    margin-bottom: 5%;
    text-align: left;
    border-style: solid;
    border-color: rgba(255, 115, 0, 0.82);
    border-width: thick;
    text-align: center;
    background-color: #ffe4cd;
    height: fit-content;

}
.projekter-col img{
    
     width: 100%;
    border-radius: 10px;
    height: 50%;
    object-fit:cover;
    
}
.projekter-col h3{
    font-size: 20px;
    

}

.projekter-col p{
    padding: 0;
    color: #0e0e0e;
    margin-bottom:  10px;

}
.projekter-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
    color: #0e0e0e;
    font-weight: 600;
    
}

/*---------------- Samarbejdspartnere ------------------*/

.sammen{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    
}
.sammen p{
    color: #f0f0f0;
    padding-bottom: 40px;
}
.trust-pilot{
    color: rgba(255, 115, 0, 0.82);
}
.tp-col1{
    text-decoration: none;
}
.tp-col2{
    text-decoration: none;
}
.sammen-col{
    flex-basis: 44%;
    border-radius: 15px;
    margin-bottom: 5%;
    text-align: left;
    background: #ffe4cd;
    padding: 25px;
    cursor: pointer;
    display: flex;
    justify-content: space-between 10px;
    border-style: solid;
    border-width: thick;
    border-color: rgba(255, 115, 0, 0.82);
}
.sammen-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.sammen-col p{
    padding: 0;
    color: #0e0e0e;
    font-size: 400;
}
.sammen-col h3{
    margin-top: 15px;
    text-align: left;
}
.sammen-col .fa{
    color: #e09b13;
}

@media(max-width:700px){
    .sammen-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
    .om-os{
        border-color: transparent;
    }
    
}

/*-------- Call To Action ----------*/


.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0, 0, 0, 0.452)),url(img/cytonn-photography-n95VMLxqM2I-unsplash-hand-shake.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    text-align: center;
    padding: 100px 0;
    border-style: solid;
    border-width: thick;
    border-color: rgba(255, 115, 0, 0.82);
    
}
.cta h1{
    color: #fff;
    margin-bottom: 40px; 
    padding: 0; 
    font-size: 35px;
}

@media(max-width:700px){
    .cta h1{
        font-size: 24px;
    }
    .contact-col{
        margin-right: 25%;
    }
}

/*--------------Footer---------------*/

.footer{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/2151073786.jpg);
    border-top: solid thick;
    border-color: rgba(255, 115, 0, 0.82);
    
    
    
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 15px;
    color: #f0f0f0;
    line-height: 50px;
    
}


.pfooter{
    font-size: 14px;
    color: #f0f0f0;
    padding-top: 20px;
    padding-bottom: 25px;
}

.icons1 .fa{
    color:  rgb(255, 115, 0);
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    font-size: 20px;
    padding-bottom: 10px;
}
.fa-heart-o{
    color:  rgb(255, 115, 0);
}

.footer-link p{
    color: #f0f0f0;
    font-size: 15px;
}


/*--------------- Om os --------------*/


.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/2151073786.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    background-color: #ffffff;
}
.sub-header h1{
    margin-top: 100px;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}

.hero-btn.red-btn{
    border: 1px solid;
    
    border-color: rgb(255, 115, 0, 0.82);
    background: linear-gradient(rgba(188, 107, 37, 0.575),rgba(188, 128, 37, 0.557));
    color: #f0f0f0;
}
.hero-btn.red-btn:hover{
    border: 1px solid #f3831a;
    background: #f77f10;
    color: #fff;
}
.hero-btn.red-btn::after{
    background: #f7901a;
}
.hero-btn.red-btn::before{
    background: #d16309;
}
.content-image{
    flex-basis: 50%;
}
.about-col img{
    width: 100%;
}


/*------- Kontakt os side ------------*/



.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
    
}

.location iframe{
    width: 100%;
    
}

.contact-us{
    width: 80%;
    margin: auto;
} 
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
    
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    
}

.contact-col div .fa{
    font-size: 28px;
    color: rgb(255, 115, 0);
    margin: 10px;
    margin-right: 30px;
}
    
.contact-col div p{
    padding: 0;
    color: #f0f0f0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #f0f0f0;
    font-weight: 400;
    
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 2px solid #e68415;
    border-width: thick;
    border-radius: 15px;
    background-color: #ffe4cd;
}

.footer-link{
    text-decoration: none;
    color: #f18e0d;
}

/*------- Om Os ------------*/
.os-side-start{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.os-side{
    font-size: 25px;
    font-weight: 600;
    color: #0e0e0e;  
}
.kort-om-os-p{
color: #f0f0f0;
}
.row-om-os{
    margin-top: 5%;
    justify-content: space-between; 
}
.os-side-col{
    flex-basis: 40%;
    background: #ffe4cd;
    border-radius: 25px;
    margin-bottom: 5%;
    padding: 20px 30px;
    box-sizing: border-box;
    transition: .5s;
    border-style: solid;
    border-width: thick;
    border-color: #ff7300;
    padding-top: 30px;
}
.os-side-pp{
    color: #0e0e0e;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding-top: 30px;
    margin-bottom: auto;
    padding-bottom: 30px;
}

/*------- Om Os billeder ------------*/
.om-os-sektion{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}
.om-os-p-top{
    color: #dfdfdf;
}
.row-om-os1{
    margin-top: 5%;
    justify-content: space-between;
    
}    

.row-om-os{
    margin-top: 5%;
    justify-content: space-between;
    display: flex;
    padding: 20px 12px 
}    

.projekter-col2{
    flex-basis: 30%;
    
    border-radius: 15px;
    margin-bottom: 5%;
    text-align: left;
    border-style: solid;
    border-color: rgba(255, 115, 0, 0.82);
    border-width: thick;
    text-align: center;
    background-color: #ffe4cd;
    height: fit-content;
    padding-bottom: 2%;
    
    
    

}
.projekter-col2 img{
    
    width: 100%;
    border-radius: 10px;
    height: 50%;
    object-fit:cover;
    
    
}
.projekter-col2 h3{
    font-size: 20px;
    

}
.projekter-col2 h4{
    padding-bottom: 2%;
}

.projekter-col2 p{
    padding: 0;
    color: #0e0e0e;
    font-size: 16px;
    
}
.projekter-col2 h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
    color: #0e0e0e;
    font-weight: 600;
    
}



@media (max-width:700px){
    .row-om-os{
        flex-direction: column;
        margin-top: 12%;
    }
    h1{
        font-size: 35px;
    }
   
} 

/*------- Produkt side ------------*/
